name: Tests

on: [pull_request]
jobs:
  build:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4
        - name: Set up Python 3.10
          uses: actions/setup-python@v5
          with:
            python-version: "3.10"
            cache: "pip"
        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install ruff isort pytest
            pip install ".[benchmark]"
        - name: Run linter
          run: |
            ruff check
            ruff format --check
            isort . --check
        - name: Run tests
          env: 
            PY_COLORS: "1"
          run: |
            pytest .