name: Tests

on: [push, pull_request]
jobs:
  build:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4
        - name: Set up Python 3.10
          uses: actions/setup-python@v5
          with:
            python-version: "3.10"
            cache: "pip"
        - name: Install the_well
          run: pip install .[benchmark,test]
        - name: Run linter
          run: |
            ruff check the_well tests
            ruff format the_well tests --check
            isort the_well tests --check --diff --color
        - name: Run tests
          env: 
            PYTHONPATH: ${{ github.workspace }}
            PY_COLORS: "1"
          run: pytest tests